In [6]:
import pandas as pd
from pprint import pprint

In [7]:
# Creating a dataframe from the csv data
data_id = "T002"
raw_data_csv_path = "/Users/hlinero/Desktop/iTEM Material/raw dataset/T004/"
df = pd.read_csv(raw_data_csv_path+"T004_unece_new_road_vehicle.csv")
df

,Fuel Type,Type of Vehicle,Country,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Total,New lorries (vehicle wt over 3500 kg),Albania,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Total,New lorries (vehicle wt over 3500 kg),Andorra,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Total,New lorries (vehicle wt over 3500 kg),Armenia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Total,New lorries (vehicle wt over 3500 kg),Austria,..,..,..,..,..,..,..,...,..,..,..,..,3470,3601,3511,4039,3953,..
4,Total,New lorries (vehicle wt over 3500 kg),Azerbaijan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,#NAME?,New road tractors,Turkmenistan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5036,#NAME?,New road tractors,Ukraine,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5037,#NAME?,New road tractors,United Kingdom,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5038,#NAME?,New road tractors,United States,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5039,#NAME?,New road tractors,Uzbekistan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [8]:
df.tail(50)

,Fuel Type,Type of Vehicle,Country,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4990,#NAME?,New road tractors,Belgium,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4991,#NAME?,New road tractors,Bosnia and Herzegovina,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4992,#NAME?,New road tractors,Bulgaria,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4993,#NAME?,New road tractors,Canada,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4994,#NAME?,New road tractors,Croatia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4995,#NAME?,New road tractors,Cyprus,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4996,#NAME?,New road tractors,Czechia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4997,#NAME?,New road tractors,Denmark,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4998,#NAME?,New road tractors,Estonia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4999,#NAME?,New road tractors,Finland,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5000,#NAME?,New road tractors,France,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5001,#NAME?,New road tractors,Georgia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5002,#NAME?,New road tractors,Germany,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5003,#NAME?,New road tractors,Greece,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5004,#NAME?,New road tractors,Hungary,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5005,#NAME?,New road tractors,Iceland,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5006,#NAME?,New road tractors,Ireland,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5007,#NAME?,New road tractors,Israel,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5008,#NAME?,New road tractors,Italy,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5009,#NAME?,New road tractors,Kazakhstan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5010,#NAME?,New road tractors,Kyrgyzstan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5011,#NAME?,New road tractors,Latvia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5012,#NAME?,New road tractors,Liechtenstein,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5013,#NAME?,New road tractors,Lithuania,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5014,#NAME?,New road tractors,Luxembourg,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5015,#NAME?,New road tractors,Malta,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5016,#NAME?,New road tractors,Monaco,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5017,#NAME?,New road tractors,Montenegro,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5018,#NAME?,New road tractors,Netherlands,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5019,#NAME?,New road tractors,North Macedonia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5020,#NAME?,New road tractors,Norway,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5021,#NAME?,New road tractors,Poland,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5022,#NAME?,New road tractors,Portugal,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5023,#NAME?,New road tractors,Republic of Moldova,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5024,#NAME?,New road tractors,Romania,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5025,#NAME?,New road tractors,Russian Federation,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5026,#NAME?,New road tractors,San Marino,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5027,#NAME?,New road tractors,Serbia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5028,#NAME?,New road tractors,Slovakia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5029,#NAME?,New road tractors,Slovenia,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5030,#NAME?,New road tractors,Spain,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5031,#NAME?,New road tractors,Sweden,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5032,#NAME?,New road tractors,Switzerland,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5033,#NAME?,New road tractors,Tajikistan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5034,#NAME?,New road tractors,Turkey,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5035,#NAME?,New road tractors,Turkmenistan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5036,#NAME?,New road tractors,Ukraine,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5037,#NAME?,New road tractors,United Kingdom,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5038,#NAME?,New road tractors,United States,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5039,#NAME?,New road tractors,Uzbekistan,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..